venv
.idea
Data_Testing
FER_2013_Data
Training_Images
Data_Testing.zip
requirements.txt
Used_training_data
ML_training/Dataset/
ML_training/Face_detection_model/
ML_training/NAMAL.png
ML_training/faces.jpg
ML_training/models/

ML_training/faces/

ML_training/outpy.avi